 {% assign theme = site.data.themes[site.ui_theme] %}
 <h1 class="card-title" style="font-family:{{ theme.education-title-font}};font-size:{{ theme.education-title-size }};color:{{theme.education-font-color}};">Education</h1>
  <ul class="list-unstyled">
  {% for entry in site.data.education %}
    <li class="media">
      <img src="{{ entry.Icon }}" style="width:70px; height:70px" class="mr-3" alt="...">
      <div class="media-body">
        <span>
          <h5 style="font-family:{{ theme.education-entry-font}};font-size:{{ theme.education-entry-size }};color:{{theme.education-font-color}};display:inline">{{ entry.School }} - </h5>
          <p style="font-family:{{ theme.education-entry-font}};font-size:{{ theme.education-section-size }};color:{{theme.education-font-color}};display:inline">{{ entry.End }}</p>
        </span>
        <p style="font-family:{{ theme.education-entry-font}};font-size:{{ theme.education-section-size }};color:{{theme.education-font-color}};"><i>{{ entry.Program }}</i></p>
        <p style="font-family:{{ theme.education-entry-font}};font-size:{{ theme.education-section-size }};color:{{theme.education-font-color}};"><i>{{ entry.Extras }}</i></p>
      </div>
    </li>
    {% endfor %}
  </ul>

  <br />

  <h1 class="card-title" style="font-family:{{ theme.education-title-font}};font-size:{{ theme.education-title-size }};color:{{theme.education-font-color}};">Honors</h1>
  <ul class="list-unstyled">
  {% for entry in site.data.honors %}
    <li class="media">
      <img src="{{ entry.Icon }}" class="mr-3" style="width:70px; height:70px" alt="...">
      <div class="media-body" style="margin:auto">
        <h5 style="font-family:{{ theme.education-entry-font}};font-size:{{ theme.education-entry-size }};color:{{theme.education-font-color}};display:inline">{{ entry.Society }}</h5>
        <p style="font-family:{{ theme.education-entry-font}};font-size:{{ theme.education-section-size }};color:{{theme.education-font-color}};"><i>{{ entry.Meaning }}</i></p>
      </div>
    </li>
    {% endfor %}
  </ul>