<!DOCTYPE html>
{% assign theme = site.data.themes[site.ui_theme] %}
<html>
  {% include head-blog.html %}
  <head>
    <title>triangle bg demo</title>
    <style>
      body {
        background-image: url("/assets/img/triangles.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #332433;
      }
    </style>
  </head>
  <body>
    {% include nav.html %}
    <div class="container" style="background-color:transparent">
      <div class="card border-0" style="background-color:transparent">
        <div class="card-body" style="background-color:transparent">
          <p class="card-text">
            <p style="text-align:center; font-size:24px; font-style:italic; margin-bottom: 5rem;"> I'd love to get to know you, <br> please don't hesitate to reach out to me!</p>
            <div class="contactButtonContainer">
              <!-- Email -->
              <a href="mailto:enfreck@gmail.com" style="text-decoration:none">
                <button class="contact-button">
                  <img src="/assets/img/gmail-logo2.png" style="width:auto; height:70px">
                  <p  style="text-align:center; font-size:18px; font-style:italic;">enfreck@gmail.com</p>
                </button>
              </a>
              <!-- LinkedIn -->
              <button onclick="window.location.href='https://www.linkedin.com/in/erin-freck/';" class="contact-button">
                <img src="/assets/img/linkedin-logo.png" style="width:auto; height:70px">
                <p style="text-align:center; font-size:18px; font-style:italic;">www.linkedin.com/in/erin-freck</p>
              </button>
            </div>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>