---
layout: page
permalink: contact.html
title: Contact Me
header-img:  
last-updated: 2020-10-30 5:55 PM
---
{% assign theme = site.data.themes[site.ui_theme] %}

<div class="contactButtonContainer">
  <a href="mailto:enfreck@gmail.com">
    <button class="contact-button">
      <img src="/assets/img/gmail-logo2.png" style="width:auto; height:70px">
    </button>
  </a>
  

  <button onclick="window.location.href='https://www.linkedin.com/in/erin-freck/';" class="contact-button">
    <img src="/assets/img/linkedin-logo.png" style="width:auto; height:70px">
  </button>
</div>



<script>
function startClippy(){
    new ClipboardJS('.btn');
}
window.onload = startClippy;
</script>