---
layout: default
---
{% assign theme = site.data.themes[site.ui_theme] %}

<!-- ABOUT ME SECTION -->
<div class="card mx-auto border-0" style="position:relative;background-color:{{theme.home-background-color}};">
  <div class="row">
    <div class="col-md-4">
        <img src="{{ site.profile_image }}" class="img-thumbnail float-left" alt="...">
    </div>
    <!-- EDUCATION SECTION -->
    <div class="col-md-8">
      <div class="card-body mt-0" style="color:{{theme.education-font-color}};">
        <p style="color:{{theme.education-font-color}};">{{ content | markdownify}}<p>
      </div>
    </div>
  </div>
</div>

<br />

<!-- style="font-family:{{ theme.link-font }};background-color:{{ theme.nav-color }}; -->

<!-- HOME HIGHLIGHTS SECTION --> 
<div class="card mx-auto mb-1 glowing-border"  style="max-width: 100%;">
  <div class="card-header" style="background-color:{{ theme.home-highlight-background }};">
    <ul class="nav nav-tabs card-header-tabs" id="test-list" role="tablist">
      {% for section in site.data.sections %}
        {% if section.first %}
          <li class="nav-item">
            <a class="nav-link active" id="{{ section.jsid }}" href="#{{section.id}}" role="tab" aria-controls="{{section.id}}" aria-selected="true" style="font-family:{{ theme.font}};color:{{ theme.home-highlight-header-text}};">{{section.emoji}} {{section.name}}</a>
          </li>
        {% else %}
          <li class="nav-item">
              <a class="nav-link" id="{{ section.jsid }}" href="#{{section.id}}" role="tab" aria-controls="{{section.id}}" aria-selected="true" style="font-family:{{ theme.font}};color:{{ theme.home-highlight-header-text}};">{{section.emoji}} {{section.name}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="card-body">          
      <div class="tab-content mt-3">
        {% for section in site.data.sections %}
          {% if section.first %}
              <div class="tab-pane active overflow-auto" id="{{section.id}}" role="tabpanel">
                <p class="card-text">{% include education.html %}</p>
              </div>
          {% else %}  
            {% if section.name == "Presentations" %}
              <div class="tab-pane overflow-auto" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
                <p><i>{{section.description}}</i></p>
                <p class="card-text">{% bibliography -f presentations %}</p>              
              </div>
            {% elsif section.name == "Research" %}
              <div class="tab-pane overflow-auto" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
                <p><i>{{section.description}}</i></p>
                  {% for projects in site.data.projects %}
                  <div class="media mt-2">
                    <!-- <a href="{{ projects.link }}"><img src="{{ projects.image }}" class="mr-3 mb-2 img-thumbnail border-0" alt="..."></a> -->
                    <div class="media-body">
                      <h5 class="mt-0"><a href="{{ projects.link }}" class="highlighted">{{ projects.name }}</a></h5>
                      {{ projects.description }}
                      {% if projects.tech %}
                        <h6><mark><u>Technologies</u></mark></h6>
                        {% for tech in projects.tech %}
                        <span class="badge badge-secondary mr-1" style="background-color:{{ theme.projects-color }};">{{ tech }}</span>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                </div>        
              </div>
            {% elsif section.name == "Work Experience" %}
              <div class="tab-pane overflow-auto" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
                <p><i>{{section.description}}</i></p>
                    {% for jobs in site.data.work %}
                    <div class="list-group">
                      <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ jobs.School }}</h5>
                          <p>{{ jobs.Program }}</p>
                          <small>{{ jobs.StartDate }} - {{ jobs.EndDate }}</small>
                        </div>
                        <p class="mb-1">{{ jobs.description }}</p>
                        <small>{{ jobs.Department }}</small>
                      </div>
                    </div>
                    {% endfor %}
              </div>
            {% elsif section.name == "Coursework" %}
              <div class="tab-pane overflow-auto" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
                <div class="list-group">
                {% for courses in site.data.courses %}
                  <button type="button" class="list-group-item text-left">{{ courses.Course }}</button>
                {% endfor %}
                </div>
              </div>
            {% else %}
              <div class="tab-pane overflow-auto" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
                <h5 class="card-title text-center"><a href="/{{ section.url }}" class="highlighted">{{section.description}}</a></h5>
                <p class="card-text">{{ section.content }} </p>              
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
  </div>
</div>



<!-- ANIMATE.JS ANIMATE LIBRARY
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous"></script>
-->


<!--JS FUNCTION FOR RECENT WORK SECTION -->
<script>
    $('#test-list a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
    })
</script> 

<!-- OPTIONAL TOAST JS FUNCTION-->
<script>
    $(document).ready(function() {
        $(".toast").toast("show");
    });
</script>


<script>
$('body').scrollspy({ target: '#list-example' })
</script>

<script>
$('.collapse').collapse()
</script>

<script>
$('.show').show()
</script>
